# import packages and load data

In [ ]:
import h2o
h2o.init()
h2o.remove_all()
import numpy as np
import pandas as pd

df = pd.read_csv('../original.csv')
df_missing = pd.read_csv('../nan_data.csv')
hf = h2o.H2OFrame(df)
hf_missing = h2o.H2OFrame(df_missing)

Checking whether there is an H2O instance running at http://localhost:54321 . connected.

--------------------------  ---------------------------------------------------------
H2O_cluster_uptime:         10 hours 30 mins
H2O_cluster_timezone:       Asia/Taipei
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.30.0.5
H2O_cluster_version_age:    4 days
H2O_cluster_name:           H2O_from_python_Derek_mnpn7m
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    6.427 Gb
H2O_cluster_total_cores:    24
H2O_cluster_allowed_cores:  24
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.7 final
--------------------------  ---------------------------------------------------------

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

# Create GLRM　model

In [ ]:
from h2o.estimators.glrm import H2OGeneralizedLowRankEstimator

model_1 = H2OGeneralizedLowRankEstimator(k=5, transform="STANDARDIZE", init="plus_plus", loss="Quadratic",
                                         regularization_x="None", regularization_y="None", max_iterations=3000,
                                         min_step_size=1e-6, impute_original=True, ignored_columns=['Unnamed: 0', 'station'])

# Train and predict

In [ ]:
model_1.train(training_frame=hf_missing)
hf_predict = model_1.predict(hf_missing)

glrm Model Build progress: |██████████████████████████████████████████████| 100%
glrm prediction progress: |███████████████████████████████████████████████| 100%

# Output data

In [ ]:
hf_predict.show()
print(hf_predict)
test = hf_predict.as_data_frame(use_pandas=True)

df_c = pd.concat([df_missing.iloc[:, 0:2], test], axis=1)
print(hf_missing)
print(hf)

reconstr_28079008,reconstr_28079024,reconstr_28079038,reconstr_28079047,reconstr_28079048,reconstr_28079050
22.0251,11.8322,16.3914,17.3992,13.5864,20.6237
29.9394,22.7296,26.8331,29.8936,21.3135,19.359
23.0829,20.5028,17.7827,26.453,11.4232,12.569
13.7443,10.8404,8.42174,14.9253,3.94093,8.73492
9.93833,9.47255,4.62792,11.444,1.24511,6.64735
10.4841,8.52586,5.02632,11.5993,1.12985,6.95736
8.47738,6.41212,4.27149,8.74462,1.15262,5.94887
8.31954,5.49268,4.76033,8.63114,1.11344,4.95603
11.6148,8.99339,6.69461,14.0671,1.0105,4.99919
9.00459,6.48569,4.47131,9.27962,1.07448,6.27709

reconstr_28079008,reconstr_28079024,reconstr_28079038,reconstr_28079047,reconstr_28079048,reconstr_28079050
22.0251,11.8322,16.3914,17.3992,13.5864,20.6237
29.9394,22.7296,26.8331,29.8936,21.3135,19.359
23.0829,20.5028,17.7827,26.453,11.4232,12.569
13.7443,10.8404,8.42174,14.9253,3.94093,8.73492
9.93833,9.47255,4.62792,11.444,1.24511,6.64735
10.4841,8.52586,5.02632,11.5993,1.12985,6.95736
8.47738,6.41212,4.27149,8.74462,1.15262,5.94887
8.31954,5.49268,4.76033,8.63114,1.11344,4.95603
11.6148,8.99339,6.69461,14.0671,1.0105,4.99919
9.00459,6.48569,4.47131,9.27962,1.07448,6.27709

Unnamed: 0,station,28079008,28079024,28079038,28079047,28079048,28079050
1,2011-01-01 01:00:00,18,12,24,nan,9,22
2,2011-01-01 02:00:00,28,25,27,28,21,20
3,2011-01-01 03:00:00,22,24,16,23,12,13
4,2011-01-01 04:00:00,13,nan,10,15,3,9
5,2011-01-01 05:00:00,9,11,nan,10,1,7
6,2011-01-01 06:00:00,nan,9,nan,11,1,7
7,2011-01-01 07:00:00,nan,7,nan,8,1,6
8,2011-01-01 08:00:00,nan,6,nan,8,1,5
9,2011-01-01 09:00:00,nan,9,nan,nan,1,5
10,2011-01-01 10:00:00,10,6,nan,nan,1,6

Unnamed: 0,station,28079008,28079024,28079038,28079047,28079048,28079050
1,2011-01-01 01:00:00,18,12,24,nan,9,22
2,2011-01-01 02:00:00,28,25,27,28,21,20
3,2011-01-01 03:00:00,22,24,16,23,12,13
4,2011-01-01 04:00:00,13,12,10,15,3,9
5,2011-01-01 05:00:00,9,11,7,10,1,7
6,2011-01-01 06:00:00,9,9,7,11,1,7
7,2011-01-01 07:00:00,7,7,6,8,1,6
8,2011-01-01 08:00:00,6,6,6,8,1,5
9,2011-01-01 09:00:00,7,9,10,9,1,5
10,2011-01-01 10:00:00,10,6,9,8,1,6

# Find missing value location

In [ ]:
hf_predict = h2o.H2OFrame(df_c)
df_c.to_csv(r'predict_all.csv', index = False)
def find_missing(all_data, df_miss, name):
    k = h2o.as_list(all_data).values.reshape(-1)
    k1 = np.isnan(h2o.as_list(df_miss).values.reshape(-1))
    k = h2o.H2OFrame(k[k1])
    k.names = [name]
    return k


from h2o.model.regression import *

label = find_missing(hf, hf_missing, 'label')
predict = find_missing(hf_predict, hf_missing, 'predict')
prediction = predict.cbind(label)
print(prediction)

Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%

predict,label
17.3992,nan
10.8404,12
4.62792,7
10.4841,9
5.02632,7
8.47738,7
4.27149,6
8.31954,6
4.76033,6
11.6148,7

# Output data
# Replace data 0 if value <=0

In [ ]:
hf_miss_predict = prediction.as_data_frame(use_pandas=True)
a = hf_miss_predict.dropna()

print(a)
mse = ((a.iloc[:, 0] - a.iloc[:, 1])**2).mean()
a.to_csv(r'a.csv', index = False)


df = pd.read_csv('predict_all.csv')
print(df)

df.iloc[:, 2:] = df.iloc[:,2:].mask(df.iloc[:,2:] <=0, 0)
print(df)
df.to_csv(r'predict_all_miss.csv', index = False)

        predict  label
1     10.840441   12.0
2      4.627925    7.0
3     10.484116    9.0
4      5.026320    7.0
5      8.477378    7.0
...         ...    ...
6461  11.354664    7.0
6462   7.584619    5.0
6463   4.383414    6.0
6464   8.486429    7.0
6465   7.781344    7.0

[6307 rows x 2 columns]
       Unnamed: 0              station  reconstr_28079008  reconstr_28079024  \
0               1  2011-01-01 01:00:00          22.025068          11.832152
1               2  2011-01-01 02:00:00          29.939444          22.729553
2               3  2011-01-01 03:00:00          23.082879          20.502796
3               4  2011-01-01 04:00:00          13.744340          10.840441
4               5  2011-01-01 05:00:00           9.938331           9.472553
...           ...                  ...                ...                ...
26299       26300  2013-12-31 20:00:00           6.827660           7.002863
26300       26301  2013-12-31 21:00:00           6.276740           5.220746
26301       26302  2013-12-31 22:00:00           6.328766           4.276203
26302       26303  2013-12-31 23:00:00           6.572432           2.876917
26303       26304  2014-01-01 00:00:00           6.824446           0.685656

       reconstr_28079038  reconstr_28079047  reconstr_28079048  \
0              16.391352          17.399234          13.586438
1              26.833145          29.893647          21.313502
2              17.782722          26.452959          11.423200
3               8.421739          14.925292           3.940930
4               4.627925          11.444024           1.245112
...                  ...                ...                ...
26299           5.717988           3.799864           7.451232
26300           3.974905           3.932932           4.189793
26301           4.099717           4.095977           3.571852
26302           4.551564           5.123954           2.165827
26303           4.945598           6.173707           0.187966

       reconstr_28079050
0              20.623726
1              19.359038
2              12.568985
3               8.734915
4               6.647353
...                  ...
26299           9.128169
26300           7.745784
26301           7.035213
26302           5.009196
26303           2.564100

[26304 rows x 8 columns]
       Unnamed: 0              station  reconstr_28079008  reconstr_28079024  \
0               1  2011-01-01 01:00:00          22.025068          11.832152
1               2  2011-01-01 02:00:00          29.939444          22.729553
2               3  2011-01-01 03:00:00          23.082879          20.502796
3               4  2011-01-01 04:00:00          13.744340          10.840441
4               5  2011-01-01 05:00:00           9.938331           9.472553
...           ...                  ...                ...                ...
26299       26300  2013-12-31 20:00:00           6.827660           7.002863
26300       26301  2013-12-31 21:00:00           6.276740           5.220746
26301       26302  2013-12-31 22:00:00           6.328766           4.276203
26302       26303  2013-12-31 23:00:00           6.572432           2.876917
26303       26304  2014-01-01 00:00:00           6.824446           0.685656

       reconstr_28079038  reconstr_28079047  reconstr_28079048  \
0              16.391352          17.399234          13.586438
1              26.833145          29.893647          21.313502
2              17.782722          26.452959          11.423200
3               8.421739          14.925292           3.940930
4               4.627925          11.444024           1.245112
...                  ...                ...                ...
26299           5.717988           3.799864           7.451232
26300           3.974905           3.932932           4.189793
26301           4.099717           4.095977           3.571852
26302           4.551564           5.123954           2.165827
26303           4.945598           6.173707           0.187966

       reconstr_28079050
0              20.623726
1              19.359038
2              12.568985
3               8.734915
4               6.647353
...                  ...
26299           9.128169
26300           7.745784
26301           7.035213
26302           5.009196
26303           2.564100

[26304 rows x 8 columns]